.openlab-text-to-speech-controls {
	border: 1px solid #ccc;
	padding: 16px;

	h2 {
		font-size: 1.5rem;
		margin-bottom: 16px;
	}

	&.hidden {
		display: none;
		visibility: hidden;
	}
}

.openlab-text-to-speech-control {
	align-items: center;
	display: flex;
	margin-bottom: 16px;

	label {
		flex: 0 0 120px;
	}

	select {
		flex: 1;
	}

	@media (max-width: 600px) {
		align-items: flex-start;
		flex-direction: column;

		label {
			flex: 1;
		}
	}
}
