$grey: #e5e5e5;
$dark-grey: #6f6f6f;
$border: 1px solid $grey;
$border-radius: 5px;

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 100 900;
  src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 100 900;
  src: url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
}

.openlab-text-to-speech-controls {
	border: $border;
	border-radius: $border-radius;
	font-family: 'Open Sans', sans-serif !important;
	position: relative;
	overflow: visible;

	h2 {
		font-size: 1.5rem;
		margin-bottom: 16px;
	}

	button {
		// Zero out theme and user stylesheet button styles.
		background-color: transparent;
		background-image: none;
		border: none;
		color: inherit;
		cursor: pointer;
		font-size: inherit;
		font-weight: normal;
		line-height: 1em;
		padding: 0;
		min-width: 0;
		text-transform: none;
		font-family: 'Open Sans', sans-serif !important;

		&:hover {
			background-color: transparent;
			background-image: none;
			color: inherit;
			box-shadow: none;
		}
	}

	&.hidden {
		display: none;
		visibility: hidden;
	}

	&.has-open-drawer {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.beta-notice {
		font-size: .9em;
	}
}

.openlab-tts-primary-controls {
	background: $grey;
	display: flex;
	height: 54px;
	align-items: center;
	justify-content: space-between;

	button {
		height: 40px;

		&.openlab-tts-play {
			padding: 8px 46px 8px 16px;
			position: relative;
			font-size: 22px;
			line-height: 22px;

			&:after {
				position: absolute;
				content: '';
				display: inline-block;
				width: 40px;
				height: 40px;
				background-image: url('../images/speaker.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: 25px auto;
				right: 2px;
				top: 2px;
			}

			&:hover:after {
				background-image: url('../images/speaker-blue.png');
			}

			&.is-playing:after {
				background-image: url('../images/speaker-blue.png');
			}

			&.is-playing:hover {
				&:after {
					background-image: url('../images/speaker-mute.png');
				}
			}
		}

		&.openlab-tts-drawer-toggle {
			padding: 8px;
			margin-right: 8px;
			&:after {
				content: '';
				display: inline-block;
				width: 20px;
				height: 20px;
				background-image: url('../images/gear.png');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				vertical-align: middle;
			}
		}
	}
}

.openlab-tts-drawer {
	display: none;
	visibility: hidden;

	background: white;
	border-left: $border;
	border-right: $border;
	border-bottom: $border;
	border-radius: 0 0 $border-radius $border-radius;
	width: 100%;

	position: absolute;
	top: 100%;

	.openlab-tts-drawer-inner {
		padding: 24px 16px;
	}
}

.has-open-drawer {
	.openlab-tts-drawer {
		display: block;
		visibility: visible;
	}
}

.openlab-text-to-speech-control {
	align-items: center;
	display: flex;
	margin-bottom: 16px;
	color: #000;

	label {
		flex: 0 0 120px;
	}

	select {
		flex: 1;
		max-width: 400px;
	}

	&.hidden {
		display: none;
		visibility: hidden;
	}

	&.openlab-text-to-speech-control-info-message {
		font-size: 16px;
	}

	&.openlab-text-to-speech-control-rate-selector {
		display: flex;
	}

	.rate-selector-value {
		display: inline-block;
		font-size: 22px;
		margin-left: 16px;
		margin-right: 16px;
	}

	button.rate-selector-incrementor {
		// Zero out button styles.
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 20px 20px;
		border: none;
		color: inherit;
		cursor: pointer;
		font-size: inherit;
		font-weight: normal;
		height: 20px;
		width: 20px;

		&.rate-selector-incrementor-down {
			background-image: url( '../images/minus.png' );

			&:hover:not(:disabled) {
				background-image: url( '../images/minus-blue.png' );
			}
		}

		&.rate-selector-incrementor-up {
			background-image: url( '../images/plus.png' );

			&:hover:not(:disabled) {
				background-image: url( '../images/plus-blue.png' );
			}
		}

		&:disabled {
			opacity: 0.5;
		}
	}
}
